---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Modules from '../components/Modules.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Pricing from '../components/Pricing.astro';
import UseCases from '../components/UseCases.astro';
import TechSecurity from '../components/TechSecurity.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main id="main-content">
    <Hero />
    <Modules />
    <HowItWorks />
    <Pricing />
    <UseCases />
    <TechSecurity />
    <Contact />
  </main>
  <Footer />
</Layout>
